extends layout
block content
    h1= title
    form(id='teacherForm', action="/resource/teacher", method="POST")
        div.form-group
            label.costumeAttr(for='teacher_name') Teacher name
            input#teacher_Name(type='text', name='teacher_name')
        div.form-group
            label.costumeAttr(for='salary') salary
            input#salary(type='text', name='salary')
        div.form-group
            label.costumeAttr(for='subject') subject
            input#subject(type='text', name='subject')
        input(type="submit")
    script.
        document.forms['teacherForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
         return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
         alert("Save succeded")
         // TODO handle body
        }).catch((error) => {
        // TODO handle error
         alert("Save failed " + error )
        });
      });